.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.userpic{
  border-radius: 50%;
  height: 9em;
  width:9em;
}
.profileBox{
  display: flex;
  border: 4px dashed tomato;
  flex-direction: row;
  margin : 0 24em 0 24em;
  padding: 1em
}
.contentGit{
  align-self: center;
  font-weight: 600;
  color: rgb(20, 152, 236);
}
#username{
  align-self: center;
  font-weight: 900;
  color: purple;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*.red-box{
  border: 2px dashed tomato;
  background-color: lawngreen;
}*/
